<div class="ant-card" style="margin-left:15%;  width:70%">
    <div class="steps-content step-content">
        <div style=" width:100%;height:30px">
            <button nz-button [disabled]="this.dataSource.dataStatus.loading$ | async"  style="margin-bottom:5px;float:left" (click)="addRecord()">增加</button>
        <button nz-button [disabled]="this.dataSource.dataStatus.loading$ | async"  style="margin-bottom:5px;float:right"  (click)="saveUpdate()">保存</button>
        </div>
        
      <div>
            <nz-table #baseTable
            nzBordered
            nzSize='small'
            nzShowQuickJumper="true"
            [nzFrontPagination]="true"
            [nzData]="dataSource.dataStatus.tableData"
            [nzLoading]="this.dataSource.dataStatus.loading$ | async"
            [(nzPageSize)]="dataSource.dataStatus.pageInfo.pageSize"
            [(nzPageIndex)]="dataSource.dataStatus.pageInfo.curPage"
          
            nzTitle="特殊人员名单"
             >
            <thead>
              <tr>
                <th>#</th>
                <th style="width:200px">员工号</th>
                <th>员工姓名</th>
                <th style="width:100px">员工类型</th>
                <th>工资项</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of baseTable.data,let i= index">
                <td>{{(i+1)+((dataSource.dataStatus.pageInfo.curPage-1)*dataSource.dataStatus.pageInfo.pageSize)  }}</td>
                <td><input nz-input  nzSize="default" (ngModelChange)="onChangeEmp($event)"  (change)="onChange(data)" [(ngModel)]="data.employeeCode"  [nzAutocomplete]="auto"> 
                  <nz-autocomplete nzBackfill #auto>
                      <nz-auto-option *ngFor="let option of options" [nzValue]="option.employeeCode">
                      {{option.employeeCode}}
                      <span style=" color: #999; " >({{option.employeeName}})  </span>
                      </nz-auto-option>
                      </nz-autocomplete></td>
                <td>{{data.employeeName}}</td>
                <td> <nz-select style="width: 100%" (ngModelChange)="onChange(data)"  [(ngModel)]="data.specialType">
                  <ng-container *ngFor="let option of dataSource.dataStatus.anyData">
                    <nz-option [nzLabel]="option.label" [nzValue]="option.value" ></nz-option>
                  </ng-container>
                  </nz-select></td>
                <td>
                  <nz-select style="width: 100%" (ngModelChange)="onChange(data)"  [(ngModel)]="data.salaryCode">
                  <ng-container *ngFor="let option of dataSource.dataStatus.pageDate.selectLists.salaryitem">
                    <nz-option [nzLabel]="option.salaryName" [nzValue]="option.salaryCode" ></nz-option>
                  </ng-container>
                </nz-select>
              </td>
              <td><nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteCurRecord(data)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm></td>
              </tr>
            </tbody>
          </nz-table>
        </div>
    </div>