table {
    width: 60%;
  }
  mat-paginator {
    
    width:100%;
    text-align: center;
    margin: 0 auto;
  }
  .mat-row{
      height: 42px;
  }
  .mat-header-cell{
      font-weight: bold;
      font-size: 15px;
      text-align: center;
  }
  .mat-cell{
      text-align: center;
  }